.grid_860_1 {
    display: inline;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}

.grid_11 .grid_860_1.alpha{
    width: 283px;
}

.grid_11 .grid_860_1.omega{
    width: 283px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

.grid_11 .grid_860_1 {
    width: 282px;
}

