.light_tile {
    margin-top:5px;
    height: 100px;
}

.light_button_setup {
    margin-left: 8px;
    height: 55px;
    width: 128px;
}

#light_button_tile {
    background: url('../img2/icon_big/123.png') no-repeat center center;
}

#light_button_plan {
    background: url('../img2/icon_big/plan.png') no-repeat center center;
}

.light_tile_lamp_click {
    cursor: pointer;
}

.light_tile_lamp_on{
    height: 72px;
    width: 72px;
    background: url('../img2/lamp_on.png') no-repeat center center;
}

.light_tile_lamp_off{
    height: 72px;
    width: 72px;
    background: url('../img2/lamp_off.png') no-repeat center center;
}

#backlight_hall .button {
    padding: 0px;
    height:30px;
}
.light_plan_lamp_click {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.light_plan_lamp_img {
    position: absolute
}

.light_plan_lamp_on {
    border: 1px solid #ffbf00
}

.light_plan_lamp_off {
    border: 1px solid #86aeff
}

.light_plan_lamp_img.on_light {
    box-shadow: 0px 0px 60px 60px rgba(255, 191, 0, 0.3);
    border-radius: 100%;
}
