/*блок с содержимом*/
#page_power .title_widget_sensor {
    margin-top: 5px;
    height: 110px
}

/*заголовок блока*/
#page_power .title_widget_sensor_header {
    margin-left: 5px;
    padding-bottom: 5px
}

.flex {
    display: flex
}
.padding_5_5 {
    padding-top: 5px;
    padding-left: 5px;
}

.margin_5_5 {
    margin-top: 5px;
    margin-left: 5px;
}
