/*область для вывода датчиков (иконка, показания, единицы и т.д.)*/
.home_weather_sensor {
    display: flex;
    align-items: flex-end
}

.home_weather_sensor.short {
    width: 150px;
    margin-right: 10px;
}
.home_weather_sensor.long {
    width: 220px;
}

/*числовые показания датчиков погоды на домашней странице*/
.home_sensor_data {
    font-size: 200%;
    font-weight: 500;
}

#home_cam, #home_cameraFullSize {
    cursor: pointer;
}

.home_status_test {
    margin-left: 4px;
    width: 20px;
    height: 10px
}

#home_status_test_green {
    background-color: #003200
}
#home_status_test_green.this_status {
    background-color: #00ff00
}
#home_status_test_yellow {
    background-color: #323200
}
#home_status_test_yellow.this_status {
    background-color: #ffff00
}
#home_status_test_red {
    background-color: #320000
}
#home_status_test_red.this_status {
    background-color: #ff0000
}
