.heater_sensor_schema {
    display: flex;
    align-items: flex-end
}

/*основная плитка*/
.boiler_tile {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    height: 100%
}

.boiler_tile>button {
    padding: 0.4em 0.8em;
}

.boiler_tile>button>div {
    display: flex;
    align-items: center;
}

.boiler_tile>button>div>div {
    width: 14px;
    height: 14px;
    margin-right: 15px;
    border-radius: 2px;
}

.boiler_tile>button>div .heating_pwr_on {
    background-color: lime;
}

.boiler_tile>button>div .heating_pwr_off {
    background-color: rgba(128, 128, 128, 1);
}

.boiler_tile>button>div .heating_pwr_ready {
    border: 2px solid lime;
}

.boiler_tile>button>div>span {
    font-size: 130%;
    flex-grow: 1;
}

.boiler_tile>h1 {
    font-size: 180%;
}

.boiler_tile>label, #heater_boiler_setup {
    font-size: 150%;
    width: 150px;
}

/*контейнер с показаниями*/
.boiler_data {
    display: flex;
    align-items: flex-end;
    margin-top: 5px
}

/*показания в контейнере*/
.boiler_data>h2 {
    font-size: 80%
}

/*показания в контейнере*/
.boiler_data>p {
    margin-left: 5px;
    font-size: 35px
}

.boiler_data>span {
    margin-left: 5px;
}

/*слайдер*/
.heater_boiler_slider {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px
}

.boiler_setup_spinner {
    width: 2.5em;
}

.boiler_setup_spinner_ {
    margin: 0px 5px 0px;
}

.boiler_setup_input_title {
    margin-left: 10px;
}

.boiler_setup_input {
    margin: 0px 5px 0px;
    height: 1.5em;
}