#temp_out_1, #temp_out_weather, #temp_under_stair {
    font-size: 200%;
    font-weight: 600;
}

#pressure_weather, #wind_weather, #wind_dir_weather {
    font-size: 200%;
    font-weight: 600;
}

#temp_out_1_g, #temp_hall_g, #temp_bedroom_g {
    color: #5272BF;
}

.temperature_weather_plus {
    color: #ffb687;
}

.temperature_weather_minus {
    color: #caffff;
}

.temperature_weather_plus_plan {
    color: #8B4513;
}

.temperature_weather_minus_plan {
    color: #38b7ff;
}

.actualPressure {
    color: #DDDDDD;
}

.unActualTemperature, .unActualPressure {
    color: #8A8A8A;
}

.Title1 {
    font-size: 100%;
    font-weight: 600;
    color: #DDDDDD;
    float: left;
}

/*
.g_temp {
    font-size: 100%;
    font-weight: 600;
    color: #DDDDDD;
    float: right
}
*/

.TekTime, .TekDate {
    color: #DDDDDD;
    float: right
}

.lamp {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.lampkey {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.lamp_img {
    position: absolute
}

.on_light {
    box-shadow: 0px 0px 60px 60px rgba(255, 191, 0, 0.3);
    border-radius: 100%;
}

div.lamp.light_status_on {
    border: 1px solid #ffbf00
}

div.lamp.light_status_off {
    border: 1px solid #86aeff
}

body {
    background-image: url(temes/dx/images/background.jpg);
}

.backlight .button {
    padding: 0px;
    margin-top:5px;
    height:40px;
}

.light_level .button {
    margin-top:0px;
    border: 0px;
    height: 38px;
}

.light_level {
    padding: 0px;
    margin-top: 5px;
    height: 40px;
    border: 1px solid #86aeff;
    border-radius: 6px;
}

.ui-button {
    padding: .1em 1em;
}

/*
.ui-accordion .dx.ui-accordion-header {
    padding-top: 0em;
    padding-bottom: 0em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    background: transparent;
}

.ui-widget-content, .ui-state-default {
    background: transparent;
}

.ui-button.ui-button-icon-only {
    background: transparent;
}

.ui-button.ui-button-icon-only.ui-state-active {
    background: #036;
}

.ui-button.ui-button-icon-only.ui-state-focus {
    border: 1px solid #369;
}

.ui-button.ui-button-icon-only.ui-state-hover {
    border: 1px solid #6CF;
}
*/