nav#main #main-menu {
	width: 76px;
	border: 0px;	
	left : -4px;
}

nav#main #main-menu .ui-menu-item {
    height: 76px;
	padding: 0px;    
	margin-top: 4px;	
	margin-bottom: 4px;	
    min-height: 76px;
	border: 3px solid #336699;
	border-radius: 15px;
}

nav#main #main-menu .ui-menu-item .ui-menu-item-wrapper{
	padding: 0px;
	margin: -1px;
}

nav#main #main-menu .ui-menu-item .ui-icon {
	position: absolute;
	top: 4px;
	bottom: 0;
	left: 2px;
	margin: 2px;
	width: 64px;
	height: 64px;
	padding: 0px;
}

nav#main #main-menu .ui-menu-item.ui-menu-item-focus,
nav#main #main-menu .ui-menu-item.ui-menu-item-selected {
	border: 3px solid #99ffff;
}

/*навели курсор*/
nav#main #main-menu.ui-menu .ui-menu-item .ui-state-active {
	border: 0;
}

nav#main #main-menu.ui-menu .ui-icon-mmhome{
	background-image: url(../img2/main-menu/home_.png);
}

nav#main #main-menu.ui-menu .ui-menu-item-selected .ui-icon-mmhome{
	background-image: url(../img2/main-menu/home_sel.png);
}

nav#main #main-menu.ui-menu .ui-icon-mmtemp{
	background-image: url(../img2/main-menu/temperature_.png);
}

nav#main #main-menu.ui-menu .ui-menu-item-selected .ui-icon-mmtemp{
	background-image: url(../img2/main-menu/temperature_sel.png);
}

nav#main #main-menu.ui-menu .ui-icon-mmbulb{
	background-image: url(../img2/main-menu/bulb_.png);
}

nav#main #main-menu.ui-menu .ui-menu-item-selected .ui-icon-mmbulb{
	background-image: url(../img2/main-menu/bulb_sel.png);
}

nav#main #main-menu.ui-menu .ui-icon-mmheater{
	background-image: url(../img2/main-menu/heater_.png);
}

nav#main #main-menu.ui-menu .ui-menu-item-selected .ui-icon-mmheater{
	background-image: url(../img2/main-menu/heater_sel.png);
}

nav#main #main-menu.ui-menu .ui-icon-mmip_camera{
	background-image: url(../img2/main-menu/ip_camera_.png);
}

nav#main #main-menu.ui-menu .ui-menu-item-selected .ui-icon-mmip_camera{
	background-image: url(../img2/main-menu/ip_camera_sel.png);
}

nav#main #main-menu.ui-menu .ui-icon-mmkey{
	background-image: url(../img2/main-menu/key_.png);
}

nav#main #main-menu.ui-menu .ui-menu-item-selected .ui-icon-mmkey{
	background-image: url(../img2/main-menu/key_sel.png);
}

nav#main #main-menu.ui-menu .ui-icon-mmpower{
	background-image: url(../img2/main-menu/power_.png);
}

nav#main #main-menu.ui-menu .ui-menu-item-selected .ui-icon-mmpower{
	background-image: url(../img2/main-menu/power_sel.png);
}

nav#main #main-menu.ui-menu .ui-icon-mmpref{
	background-image: url(../img2/main-menu/power_button_.png);
}

nav#main #main-menu.ui-menu .ui-menu-item-selected .ui-icon-mmpref{
	background-image: url(../img2/main-menu/power_button_sel.png);
}
