/*все размеры в меню фиксированы, поэтому нет относительных размеров*/
#mainMenu {
	border: 0px;
	float: right;
}

#mainMenu .ui-menu-item {
	height: 76px;
	width: 76px;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 3px solid #336699;
	border-radius: 15px;
}

#mainMenu > .ui-menu-item > .ui-menu-item-wrapper {
	padding: 0px;
}

#mainMenu > .ui-menu-item > .ui-menu-item-wrapper.ui-state-active {
	margin: 0px;
}

#mainMenu .ui-menu-item .ui-icon {
	left: -3px;
	top: -3px;
	margin: 0px;
	width: 82px;
	height: 82px;
	background-position: center;
}

#mainMenu .ui-menu-item.ui-menu-item-focus,
#mainMenu .ui-menu-item.ui-menu-item-selected {
	border: 3px solid #99ffff;
	/*border: 3px solid #c7e8fc;*/
}

/*навели курсор*/
#mainMenu.ui-menu .ui-menu-item .ui-state-active {
	border: 0;
}

#mainMenu.ui-menu .ui-icon-mmhome{
	background-image: url(../img2/main-menu/home_.png);
}

#mainMenu.ui-menu .ui-menu-item-selected .ui-icon-mmhome{
	background-image: url(../img2/main-menu/home_sel.png);
}

#mainMenu.ui-menu .ui-icon-mmtemp{
	background-image: url(../img2/main-menu/temperature_.png);
}

#mainMenu.ui-menu .ui-menu-item-selected .ui-icon-mmtemp{
	background-image: url(../img2/main-menu/temperature_sel.png);
}

#mainMenu.ui-menu .ui-icon-mmbulb{
	background-image: url(../img2/main-menu/bulb_.png);
}

#mainMenu.ui-menu .ui-menu-item-selected .ui-icon-mmbulb{
	background-image: url(../img2/main-menu/bulb_sel.png);
}

#mainMenu.ui-menu .ui-icon-mmheater{
	background-image: url(../img2/main-menu/heater_.png);
}

#mainMenu.ui-menu .ui-menu-item-selected .ui-icon-mmheater{
	background-image: url(../img2/main-menu/heater_sel.png);
}

#mainMenu.ui-menu .ui-icon-mmip_camera{
	background-image: url(../img2/main-menu/ip_camera_.png);
}

#mainMenu.ui-menu .ui-menu-item-selected .ui-icon-mmip_camera{
	background-image: url(../img2/main-menu/ip_camera_sel.png);
}

#mainMenu.ui-menu .ui-icon-mmkey{
	background-image: url(../img2/main-menu/key_.png);
}

#mainMenu.ui-menu .ui-menu-item-selected .ui-icon-mmkey{
	background-image: url(../img2/main-menu/key_sel.png);
}

#mainMenu.ui-menu .ui-icon-mmpower{
	background-image: url(../img2/main-menu/power_.png);
}

#mainMenu.ui-menu .ui-menu-item-selected .ui-icon-mmpower{
	background-image: url(../img2/main-menu/power_sel.png);
}

#mainMenu.ui-menu .ui-icon-mmpref{
	background-image: url(../img2/main-menu/power_button_.png);
}

#mainMenu.ui-menu .ui-menu-item-selected .ui-icon-mmpref{
	background-image: url(../img2/main-menu/power_button_sel.png);
}
