/*блок с содержимом*/
#page_power .title_widget_sensor {
    margin-top: 5px;
    height: 125px
}

/*заголовок блока*/
#page_power .title_widget_sensor_header {
    margin-left: 5px;
    margin-bottom: 5px
}

.kh_setup_row {
    display: flex;
    align-items: center
}

.kh_setup_col1 {
    width: 50%;
    display: flex;
    justify-content: space-between
}

.kh_setup_col2 {
    padding-left: 25px
}

.kh_setup_col2 input {
    width: 3em;
}

.kh_setup_col3 {
    width: 25%;
    padding-left: 25px
}

.power_jalousie_hall_control_vertical {
    width: 60px;
}

.power_jalousie_hall_1 {
    height: 34px
}