/*область для вывода датчиков (иконка, показания, единицы и т.д.)*/
.weather_sensor {
    cursor: pointer;
    display: flex;
    align-items: flex-end
}

.weather_sensor.short {
    width: 150px;
    margin-right: 10px;
}

.weather_sensor.long {
    width: 220px;
}

/*размер шрифта показаний на улице*/
.weather_outdoor_sensor_data {
    font-size: 200%;
    font-weight: 500;
}

/*размер шрифта показаний*/
.weather_sensor_data {
    font-size: 180%;
    font-weight: 500;
}

.weather_button_setup {
    margin-left: 8px;
    height: 55px;
    width: 128px;
}

#weather_button_123 {
    background: url('../img2/icon_big/123.png') no-repeat center center;
}

#weather_button_graph  {
    background: url('../img2/icon_big/graph.png') no-repeat center center;
}

#weather_button_plan {
    background: url('../img2/icon_big/plan.png') no-repeat center center;
}

.weather_widget_wait {
    background: url('../img2/wait.png') no-repeat center center;
    display: inline-block;
    width: 270px;
    height: 100px;
}
