/*вертикальные группы для отображения погоды на закладке weather*/
.weather_b_1 {
    margin-top: 10px;
    height: 42px
}

/*короткий блок с содержимым датчика*/
.weather_sensor_1 {
    height: 42px;
    width: 130px;
    float: left
}

/*длинный блок с содержимым датчика*/
.weather_sensor_2 {
    height: 42px;
    width: 151px;
    float: left
}

/*внешний блок показания датчика*/
.weather_sensor_wrapper {
    float: left;
    height: 40px;
    margin-left: 5px
}

/*внутренний блок показания датчика*/
.weather_sensor_inner {
    display: inline-block;
    vertical-align: bottom;
}

/*прижимаем внутренний блок вниз*/
.weather_sensor_wrapper:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

/*размер шрифта показаний*/
div.weather_sensor_data {
    font-size: 150%;
    font-weight: 500;
}
