.camera_monitor {
    margin-top:3px;
    margin-left:3px;
    height:214px;
    overflow: hidden;
}

.camera_button_nav1 {
    margin-left: 8px;
    margin-top: 8px;
    height: 45px;
    width: 220px;
}

/*Изображения из архива камеры
------------------------------*/

/*отображение пути*/
.camera_nav_image_path {
    margin-left: 0px;
    margin-top: 0px;
    height: 30px;
}

/*блок папок года и месяцев*/
.camera_block_image_year_month {
    margin-left: 15px;
    margin-top: 10px;
}

/*папка год**/
.camera_nav_image_year {
    width: 120px;
    height: 40px;
}

/*папка месяц*/
.camera_nav_image_month {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

/*папка день*/
.camera_nav_image_day {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#cam_archive_timelapse th, #cam_archive_video th {
    padding: 10px;
}

#cam_archive_timelapse th:nth-child(1), #cam_archive_video th:nth-child(1) {
    text-align: center
}

#cam_archive_timelapse th:nth-child(2), #cam_archive_video th:nth-child(2) {
    padding-left: 20px
}

#cam_archive_timelapse thead, #cam_archive_video thead {
    background-color: #336699
}

#cam_archive_timelapse tbody, #cam_archive_video tbody {
    cursor: pointer;
}

#cam_archive_timelapse tbody tr:hover, #cam_archive_video tbody tr:hover {
    background-color: rgba(51, 102, 153, 0.5)
}