#button_test_status #status_test_green {
    background-color: #003200
}
#button_test_status #status_test_green.this_status {
    background-color: #00ff00
}
#button_test_status #status_test_yellow {
    background-color: #323200
}
#button_test_status #status_test_yellow.this_status {
    background-color: #ffff00
}
#button_test_status #status_test_red {
    background-color: #320000
}
#button_test_status #status_test_red.this_status {
    background-color: #ff0000
}

td>.test_status_code_0 {
    background-color: #00ff00
}

td>.test_status_code_3,
td>.test_status_code_11 {
    background-color: #545454
}

td>.test_status_code_2,
td>.test_status_code_5,
td>.test_status_code_6 {
    background-color: #ffff00
}

td>.test_status_code_1,
td>.test_status_code_4 {
    background-color: #ff0000
}

tr:nth-child(even) {
    background-color: rgba(51, 102, 153, 0.4)
}